body {
   background: #fdfdfd;
   color: #333;
   font-size: 2em;
   line-height: 1.4;
   margin: 0;
   padding: 0;
   height: 100%;
}
.menu {
	height: 82px;
	width: 100%;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.5); /*Đổ bóng cho menu*/
  	position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
 	top: 0; /*Nằm trên cùng*/
  	left: 0; /*Nằm sát bên trái*/
  	z-index: 100000; /*Hiển thị lớp trên cùng*/
}
.menu ul li{
	padding: 15px;
	font-size: 16px;
}
.form-group{
	margin-top: 12px;
}
.content{
	height: 500px;
	margin-top: 100px;
}
.footer{
	height: 250px;
	background-color: #080808;
	color: #ffffff;
}
.footer1{
	float: left;
}
.footer1 ul li{
	margin: 20px;
}
h3{
	padding-top: 20px;
	margin-left: 20px;
}
.footer2 a{
	margin-right: 10px;
	color: #ffffff;
}
.footer2{
	margin-top: 30px;
	float: right;
	margin-right: 100px;
}
/*.trai {
	width: 300px;
	height: 100%;
	border-right: 1px solid green;
}
.nhapform input{
	padding: 4px;
	margin: 5px;
	width: 200px;
}
.Submit input{
	width: 70px;
  background-color: pink;
	font-size: 16px;
	margin-left: 70px;
}
.phai{
	position: absolute; 
  left: 260px;
	height: 100%;
	border: 1px solid #aaa;
	z-index: 99;
	position: relative;
}
*/
